.price-summary {
  background-color: #fafafa;
  border-top: 1px solid rgba(0, 0, 0, .09);
}

.summary-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px dotted rgba(0, 0, 0, .09);
  padding: 0 24px;
  text-align: right;
}

.summary-label {
  color: rgba(0, 0, 0, .54);
  padding: 13px 10px;
}

.summary-value {
  border-left: 1px dotted rgba(0, 0, 0, .09);
  justify-content: flex-end;
  padding: 13px 0 13px 10px;
  width: 240px;
  word-wrap: break-word;
  color: rgba(0, 0, 0, .8);
}

.currency-symbol {
  position: relative;
  top: -4px;
  font-size: 0.9em;
}

.total-value {
  color: rgba(238, 77, 45, 0.91);
  font-size: 16px;
}

.return-reason-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  font-family: Arial, sans-serif;

  .return-reason-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .cr-card-date {
      font-size: 14px;
      color: #777;
      display: flex;
      align-items: center;

      i {
        margin-right: 4px;
        color: #555;
      }
    }

    .return-reason-title {
      font-weight: bold;
      font-size: 16px;
      color: #333;
      text-align: right;
    }
  }

  .return-reason-body {
    padding: 16px;
    margin-top: 12px;

    .return-reason-label {
      font-weight: bold;
      font-size: 15px;
      color: #333;
      margin-bottom: 8px;
    }

    .return-reason-description {
      font-size: 14px;
      color: #555;
      line-height: 1.6;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
      padding: 8px;
    }
  }
}
